.heroSection{
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: bgShift 30s infinite;
}

.brandColor{
    color: var(--brand);
}

.bgSecond{
    background-color: var(--bg-dark);
}

/* add four imgs that the bg shifts between them in a fade transition */
@keyframes bgShift{
    0%{background-image: url('../assets/bg1.jpg');}
    25%{background-image: url('../assets/bg2.jpg');}
    50%{background-image: url('../assets/bg3.jpg');}
    75%{background-image: url('../assets/bg4.jpg');}
    100%{background-image: url('../assets/bg1.jpg');}
}